body{ background: #9ac4f7; }

#palco{
	width: 100%;
	height: 100%;
	background-image: url(cena1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0px;
	left: 0px;
	}
	
#palco.bicando{ background-image: url(cena2.png); }
#palco.morto{ background-image: url(cena3.png); }
	
#cont_precisao{

	border: 2px solid black;
	height: 20px;
	width: 600px;
	position: absolute;
	top: 40px;
	right: 40px;
	
	background: #600202; /* Old browsers */
	background: -moz-linear-gradient(left, #600202 0%, #ef2207 40%, #ffef19 42%, #1cfc0c 45%, #54d86c 55%, #ffef19 58%, #f02f17 60%, #4f0d0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#600202), color-stop(40%,#ef2207), color-stop(42%,#ffef19), color-stop(45%,#1cfc0c), color-stop(55%,#54d86c), color-stop(58%,#ffef19), color-stop(60%,#f02f17), color-stop(100%,#4f0d0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #600202 0%,#ef2207 40%,#ffef19 42%,#1cfc0c 45%,#54d86c 55%,#ffef19 58%,#f02f17 60%,#4f0d0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #600202 0%,#ef2207 40%,#ffef19 42%,#1cfc0c 45%,#54d86c 55%,#ffef19 58%,#f02f17 60%,#4f0d0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #600202 0%,#ef2207 40%,#ffef19 42%,#1cfc0c 45%,#54d86c 55%,#ffef19 58%,#f02f17 60%,#4f0d0d 100%); /* IE10+ */
	background: linear-gradient(to right, #600202 0%,#ef2207 40%,#ffef19 42%,#1cfc0c 45%,#54d86c 55%,#ffef19 58%,#f02f17 60%,#4f0d0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600202', endColorstr='#4f0d0d',GradientType=1 ); /* IE6-9 */
	
	}
	
#wrapper_precisao{
	height: 20px;
	width: 100%;
	position: relative;
	}
	
#precisao{
	width: 10px;
	height: 50px;
	background: white;
	position: absolute;
	top: -15px;
	left: 0px;	
	outline: 2px solid black;
	
	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
	
	}
	
img#acao{
	position: absolute;
	bottom: 20px;
	right: 20px;
	}
	
img#fecha{
	position: absolute;
	bottom: 20px;
	left: 20px;
	}
	
#score, #lvl{
	padding-left: 80px;
	font-size: 50px;
	font-family: sans-serif;
	letter-spacing: -2px;
	color: white;
	text-shadow: #3664E1 3px 2px 1px;
	font-weight: bold;
	}
